* {
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  width: 100%;
  height: 100%;
}

.main-block {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 300px;
  text-align: center;
  vertical-align: middle;
  background-color: #c0d7fc;
}

.main-block-inner {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 25px;
}

.main-block button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid black;
  cursor: pointer;
  font-size: 30px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  all:unset;
  width: 100px;
  font-size: 50px;
}